@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

.ReactCollapse--collapse {
  transition: height 500ms;
}
.dropdown-btn {
  @apply w-full px-4 py-2 flex items-center gap-3
         text-sm font-semibold
         hover:bg-gray-100 transition;
}